<!-- bienvenido.html -->
{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="text-center">
    <img src="{% static 'logo_white.png' %}" alt="logo onlyflans" class="img-fluid">
</header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container card mb-5 mt-5 p-3" style="max-width: 30rem;">
        <div class="container card-body">
            <h2>¡Bienvenido!</h2>
            <p class="text-muted">{{ mensaje_bienvenida }}</p>
        </div>
    </div>

    {% block 'card2' %}
    {% include 'card_2.html' %}
    {% endblock  %}

    {% block 'modal2' %}
    {% include 'modal_2.html' %}
    {% endblock  %}




</div>
{% endblock %}

