<!--modal_2.html-->
{% load static %}

<div id="myModal_2" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="text-center" id="modal-title-2">Modal Title</h2>
        <p id="modal-content-2">Modal Content</p>
        <p id="modal-preciop-2">Precio público: $</p>
        <p id="modal-preciolog-2">Precio logueado: $</p>
        <p id="modal-stock-2">Stock: </p>
    </div>
</div>

<!-- Incluir el script específico para modal2 -->
<script src="{% static 'js/scripts_modal2.js' %}"></script>
